/* boxsizing */
*{
    box-sizing: border-box;
}

/* inizio body */
    body{
        background-color: #f6f8f9;
        font-family: sans-serif;
    }
/* fine body */


/* inizio header */

header{
    background-color: white;
}

#logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    line-height: 55px;
}
/* fine header */

/* inizio main */

main{
    background-color: white;
    margin: 70px 250px;
    padding: 25px 90px 15px ;
}

/* inizio nav */

nav{
    border-bottom:5px #f6f8f9 solid;
}

#add-button{
    background-color: #47adf1;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    font-size: 14px;
}

#sec-button{
    border: 1px solid gray;
    color: grey;
    border-radius: 10px;
    font-size: 14px;
}
/* fine nav */

/* inizio section */

.check{
   color: #61bea6;
   border: #61bea6 2px solid;
   border-radius: 10px;
}

.mark{
    color: #ef6b63;
    border: #ef6b63 2px solid;
    border-radius: 10px;

}
/* fine section */

/* fine main */
